<div class="container-fluid">
	<div class="row">
		<div class="col-12 text-center mt-3 mb-3">
			<h1>¡Contáctame!</h1>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-12 text-center vc">
			<p><i class="fas fa-phone"></i></p>
			<p>+584242130440</p>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-12 text-center vc">
			<p><i class="fas fa-envelope"></i></p>
			<p>
				<a class="email" href="mailto:evecarmin@gmail.com">evecarmin@gmail.com</a>
			</p>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-12 text-center vc">
			<p><i class="fas fa-map-marked"></i></p>
			<p>Caracas, Venezuela</p>
		</div>

	</div>
</div>