<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-12">
		<h2>¿Quién soy?</h2>
		<p>Mi nombre es Hebe Apitz, soy una artista plástico venezolana, graduada de la Cristobal Rojas.</p>
		<p>Tengo un estilo particular y único que me define. Me gusta jugar con los colores y las formas dando nacimiento a diferentes maneras propias de expresión.</p>
		<p>Para familiarizarte más con mi trabajo puedes revisar mi portafolio.</p>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12">
		<h2>¿Qué hago?</h2>
		<p>Cualquier tipo de manualidad, en especial cajas, y, obviamente, pinturas. También me gusta mucho cocinar. Tengo un pequeño negocio llamado "La Cocina Local"</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam accusamus, laborum nostrum sed veniam, quaerat dignissimos magni distinctio provident pariatur ex quidem voluptatem corrupti aut ducimus quod repudiandae ad, incidunt.</p>
	</div>
</div>